/* Estilos para todo el proyecto */
body {
    background-color: #B7B7A4;
}

.contenedor-centrado {
    display:flex;
    width: 100%;
    justify-content: center;
}

p {
    font-family: 'Times New Roman', Times, serif;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h4, h5, h6 {
    text-align: center;
    color: black;
    font-family: 'Oswald', sans-serif;
}

h3{
    text-align: center;
    color: black;
    font-family: 'Bitter', serif;
}
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    /* background-color: white; */
    /* border: 1px solid lightslategray; */
    border-radius: 5px;
    border-style: double;
    border-color: black;
}

table {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    border: black;
    border-radius: 5px;
    border-style: double;
}

th {
    font-family: 'Bitter', serif;
}

label {
    display: block;
    margin-bottom: 5px;
    font-family: 'Bitter', serif;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #090909;
    border-radius: 5px;
    /* background-color: #f1e7c5; */
    background-color: #eeffdb;
}

input[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

button {
    padding: 8px;
    margin:4px;
    border: 1px black;
    border-style: double;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poiret One', cursive;
    background-color: #B7B7A4;
}

button:hover {
    background-color: #cd7b00;
}

a {
    padding: 8px;
    margin:4px;
    /* background-color: #e40f0f; */
    border: 1px black;
    color: black;
    border-style: double;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 85%;
    font-family: 'Poiret One', cursive;
}

a:hover {
    background-color: #cd7b00;
}

.listado_stock {
    border-bottom: 1px solid #ddd;
}